<!--<div style="width: 100%; height: 360px; border: 1px solid #ccc;">-->
<!--  <canvasjs-chart [options]="chartOptions" (chartInstance)="getChartInstance($event)"></canvasjs-chart>-->
<!--</div>-->
<H1>Médailles obtenues par pays</H1>
<div>
<div>Nombre de JO's</div>
<div>Nombre de pays</div>
</div>


<div class="diagramme" style="text-align: center">
<!--<canvasjs-chart baseChart-->
<!--        [type]="'pie'"-->
<!--        [datasets]="pieChartDatasets"-->
<!--        [labels]="pieChartLabels"-->
<!--        [options]="pieChartOptions"-->
<!--        [plugins]="pieChartPlugins"-->
<!--        [legend]="pieChartLegend"-->
<!--        (click)="chartClicked()"-->

<!--&gt;-->
<!--</canvasjs-chart>-->
</div>
